<div class="container text-center mt-4">

  <h1 class="title">Get Inspired..</h1>
  <p class="subtitle">Trends to Take Home</p>

  <div class="row mt-4">

    <div class="col-md-4">
      <div class="card">
        <img src="assets/bed.jpg" alt="sofa" class="card-img-top">
        <div class="card-body">
          <h5>WEDDING CHECK-LIST</h5>
          <p>Drape It!</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="assets/sofa.jpg" alt="sofa" class="card-img-top">
        <div class="card-body">
          <h5>COLOUR OF THE SEASON - WHITE</h5>
          <p>Flaunt Now</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img src="assets/owl.jpg" alt="sofa" class="card-img-top">
        <div class="card-body">
          <h5>HANDCRAFTED</h5>
          <p>Beautify Your Home</p>
        </div>
      </div>
    </div>

  </div>

</div>