<div>
    <div>
        <h1>Register</h1>
        <div>
            email: <input type="text" [(ngModel)]="credentials.email">
         
        </div>
         <div>
            password: <input type="password" [(ngModel)]="credentials.password">
            </div> 
            <div>
            name: <input type="text" [(ngModel)]="credentials.name">
            </div> 
            <div>
                <label>
                <input type="radio" name="gender" [(ngModel)]="credentials.role" value="ROLE_USER"> user
                </label>

                <label>
                <input type="radio" name="gender" [(ngModel)]="credentials.role" value="ROLE_ADMIN"> admin
                </label>

            </div>  
    </div>
    <div>
        <button (click)="login()">login</button>
        <button (click)="register()">register</button>
    </div>
</div>